<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <connectionStrings>  
      <!--Datos de Conexión para Azure-->
      <add name="conexionSistemaFarmacia" providerName="System.Data.SqlClient" connectionString="Server=tcpyy:proinnotec.database.windows.net,1433;Database=farmacia_bd;Persist Security Info=False;User ID=proinnotec;Password=Prueba$1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
      
      <!--Datos de Conexión local-->
      <!--<add name="conexionSistemaFarmacia" providerName="System.Data.SqlClient" connectionString="Server=localhost;Database=farmacia_bd;User ID=sa;Password=D3s4rr0ll0;" />-->
    </connectionStrings>
</configuration>