<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <connectionStrings>  
      <add name="conexionSistemaFarmacia" providerName="System.Data.SqlClient" connectionString="Server=tcp:proinnotec.database.windows.net,1433;Database=farmacia_bd;Persist Security Info=False;User ID=proinnotec;Password=Prueba$1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    </connectionStrings>
</configuration>